@use '../abstracts/index' as *;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: $background;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  padding: 2rem 0;

  @include respond-min($tablet) {
    padding: 4rem 0;
  }
}
