@use 'sass:map';
@use '../abstracts' as *;

.design-question {
  display: flex;
  flex-direction: row;
  max-width: $content-width-small;
  margin: 0 auto;
  padding-block: 40px;
  align-items: flex-start;

  &__container {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:40px;

  }

  &__title {
    margin: 0;
    font-family: $heading-font;
    font-size: $font-size-h1;
    font-weight: $weight-bold;
    color: $primary-dark;
    letter-spacing: 1.2px;
  }

  &__quote {
    margin: 0;
    font-family: $heading-font;
    font-size: $font-size-h1;
    font-style: italic;
    font-weight: $weight-bold;
    color: $primary-dark;
  }

  &__quote-icon {
    color: $secondary;
    flex-shrink: 0;
    height: auto;
    width: 90px;
    z-index: map.get($z-index, positive);
  }
}