@use '../abstracts/index' as *;

.situation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 100px;
  overflow: hidden;

  @include respond-min($tablet) {
    gap: 40px;
  }

  &__current,
  &__desired {
    display: flex;
    width: 100%;
  }

  &__desired {
    justify-content: center;

    @include respond-min($tablet) {
      margin-top: -100px;
      z-index: map-get($z-index, negative);
    }
  }

  &__current__container,
  &__desired__container {
    width: auto;
    padding: 20px 40px;

    @include respond-min($tablet) {
      width: 984px;
      padding: 60px 100px;
    }
  }

  &__current__container {
    background: $secondary-gradient;
    border-radius: 0 40px 40px 0;
  }

  &__desired__container {
    background: $accent-gradient;
    border-radius: 40px 0 0 40px;
    text-align: left;

    @include respond-min($tablet) {
      border-radius: 40px;
    }
  }

  &__current__title {
    color: $white;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: $weight-semibold;
    letter-spacing: 4%;
  }

  &__desired__title {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: $weight-semibold;
    letter-spacing: 4%;
  }

  &__current__text {
    color: $white;
    font-size: 18px;
    max-width: 700px;
    letter-spacing: -1.9%;
  }

  &__desired__text {
    font-size: 18px;
    max-width: 700px;
    letter-spacing: -1.9%;
  }
}
