@use 'sass:map';
@use '../abstracts' as *;

.situations {
  position: relative;
  overflow-x: clip;
  overflow-y: visible;
  padding: 60px 0;

  background-color: $background;

  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;

    padding: 0 20px;

    @include respond-min($tablet) {
      padding: 39px 60px;
      gap: 60px;
    }

    @include respond-min($desktop) {
      padding: 39px 99px;
      gap: 79px;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 100%;

    @include respond-min($tablet) {
      flex-direction: row;
      align-items: center;

      &--top {
        align-self: flex-start;
        gap: 40px;
      }

      &--bottom {
        justify-content: flex-end;
        align-self: flex-end;
        gap: 40px;
      }
    }

    @include respond-min($desktop) {
      &--top {
        gap: 102px;
      }

      &--bottom {
        padding-left: 84px;
        gap: 80px;
      }
    }
  }

  &__card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: map.get($z-index, positive);

    width: 100%;
    padding: 30px 25px;
    border-radius: 20px;


    @include respond-min($tablet) {
      width: 80%;
      padding: 40px 50px;
    }

    @include respond-min($desktop) {
      width: 742px;
    }

    &--current {
      background-color: $secondary;
    }

    &--desired {
      background-color: $primary-dark;
    }
  }

  &__title {
    margin: 0;

    font-family: $heading-font;
    font-size: $font-size-h1;
    font-weight: $weight-bold;
    color: $primary;
    letter-spacing: 1.2px;

    &--light {
      color: $secondary;
    }
  }

  &__text {
    margin: 0;

    font-family: $base-font;
    font-size: $font-size-body;
    line-height: 1.5;
    color: $text-color;

    &--light {
      color: $secondary;
    }
  }

  &__arrow {
    display: none;

    @include respond-min($tablet) {
      display: flex;
      flex-shrink: 0;

      width: 100px;
      height: 100px;
    }

    @include respond-min($desktop) {
      width: 150px;
      height: 150px;
    }
  }

  &__fox {
    display: none;

    @include respond-min($tablet) {
      display: block;
      z-index: map.get($z-index, positive);
      flex-shrink: 0;

      width: 180px;
      height: auto;
    }

    @include respond-min($desktop) {
      width: 286.54px;
      height: 351.128px;
    }
  }

  &__wiggles {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    overflow: visible;

    height: 100%;
  }

  &__wiggle {
    display: none;

    @include respond-min($tablet) {
      position: absolute;
      display: block;

      width: 180vw;
      height: auto;
    }

    &--orange {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-34deg);

      @include respond-min($tablet) {
        left: 40%;
        transform: translate(-50%, -60%) rotate(-15deg);

        width: 150vw;
      }
    }
  }

}