@use 'sass:map';
@use '../abstracts' as *;

.sprint2 {
  &__image {
    width: 100%;
    height: auto;
    max-width: 428.909px;
    border-radius: 0.75rem;
    display: block;
    margin-inline: auto;
  }

  &__col {
    align-self: start;

    h4 {
      font-family: $base-font;
      font-weight: $weight-bold;
      color: $primary;
      margin-block-start: 1rem;
      margin-block-end: 0.5rem;

      @include respond-min($tablet) {
        margin-block-start: 0;
      }
    }

    p {
      font-family: $base-font;
      font-size: $font-size-body;
      color: $text-color;
      line-height: 1.6;
      margin-block-end: 1rem;
    }
  }
}
