$primary: #f88544;
$secondary: #d54310;
$white: #ffffff;
$background: #fff7e8;
$accent: #acbf60;
$text-color: #39393f;

$accent-gradient: linear-gradient(180deg, #acbf60 0%, #c0cb90 100%);
$secondary-gradient: linear-gradient(180deg, #d54310 0%, #d27b5d 100%);
