$primary: #52714A;
$primary-dark:#3A5832;
$primary-light:#92BB87;

$secondary: #FFAFC0;
$secondary-light: #FFCAD5;

$secondary-gradient: linear-gradient(180deg, $secondary-light 0%, $secondary 100%);

$accent: #FFCE88;
$accent-dark: #FFA21C;
$accent-light: #FAE0BE;

$white: #ffffff;
$background: #FFF8F0;

$accent-gradient: linear-gradient(180deg, $accent-light 0%, $accent 100%);

$text-color: #3A5832;
