@use 'colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;500;600;700&family=Montserrat:wght@300;500;700&display=swap');

$base-font: 'Montserrat', sans-serif;
$heading-font: 'Fraunces', serif;

$weight-light: 500;
$weight-bold: 700;

$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-quote: 20px;
$font-size-body: 16px;

$navigation-breakpoint-mobile: 489px;
$mobile: 550px;
$tablet: 768px;
$desktop: 1024px;
$navigation-breakpoint-desktop: 1125px;
$desktop-xl: 1400px;
$desktop-xxl: 1800px;

$negative-packaging-margin: 100px;
$base-background-padding: 90px;

$content-width-small: 1120px;
$content-width: 1440px;

$z-index: (
  negative: -1,
  zero: 0,
  positive: 1,
  header: 10,
  header-item: 15,
  dropdown-list: 20,
);

$header-height-mobile: 82px;
$header-height-desktop: 126px;
